body {
    font-family: Cambria, serif;
    background-color: #f5acec;
    color: rgb(45, 44, 47);
    margin: 10px; 
    padding: 30;
}


header {
    text-align: left;
    background-color: #fdebf7;
    color: rgb(10, 0, 0);
    padding: 30px 0;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.boton {
    background-color: #fde4f2;
    color: #6b2c6b;
    border: 1px solid #f7b2e6;
    display: block;
    margin: 30px auto;
    text-align: center
}

.click {
    background-color: #fde4f2;
    color: #6b2c6b;
    border: 1px solid #f7b2e6;
    display: block;
    margin: 30px auto;
    text-align: center
}

/* Secciones */
section {
    width: 80%;
    margin: 15px auto;
}

/* Acerca de mí */
#ACERCA {
    background-color: #fdebf7;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Mi perfil */
#MI {
    background-color: #fff6fc;
    padding: 25px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Información */
#información {
    background-color: #fdebf7;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Académica */
#academica {
    background-color: #fff6fc;
    padding: 25px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Experiencia */
#experiencia {
    background-color: #fdebf7;
    padding: 25px;
    margin: 20px 0;
    border-radius: 15px;
}

/* Puesto */
#puesto {
    background-color: #fff6fc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Competencias */
#competencias {
    background-color: #fdebf7;
    padding: 25px;
    margin: 20px 0;
    border-radius: 15px;
}

/* Items */
#items {
    background-color: #fff6fc;
    padding: 25px;
    margin: 10px 0;
    border-radius: 12px;
}

/* Bitácora */
#bitacora {
    background-color: #fdebf7;
    padding: 25px;
    margin: 10px 0;
    border-radius: 15px;
}
